/*
.lw-woo-gdpr-user-optins-table-wrap {
	max-width: 94%;
	margin-bottom: 20px;

	.lw-woo-gdpr-user-optins-field-header {
		padding: 4px 5px;
		font-weight: 600;
	}

	.lw-woo-gdpr-user-optins-field {
		padding: 4px 5px;
	}

	.lw-woo-gdpr-user-optins-field-required {
		width: 30px;
		text-align: center;

		input {
			margin: 4px 0 0 0;
		}
	}

	.lw-woo-gdpr-user-optins-field-title {
		width: 170px;
	}

	.lw-woo-gdpr-user-optins-field-label {
		width: 500px;
	}

	.lw-woo-gdpr-user-optins-field-new-success {
		margin: 0 0 0 10px;
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 1;

		.dashicons {
			width: 24px;
			height: 24px;
			font-size: 24px;
			color: #4f8a10;
		}
	}

	.lw-woo-gdpr-user-optins-field-hidden {
		display: none;
		visibility: hidden;
	}

}
*/

.lw-woo-gdpr-user-optins-add-new-table-wrap {

	.lw-woo-gdpr-user-optins-field-new-success {
		margin: 0 0 0 10px;
		width: 24px;
		height: 24px;
		font-size: 24px;
		line-height: 1;

		.dashicons {
			width: 24px;
			height: 24px;
			font-size: 24px;
			color: #4f8a10;
		}
	}

	.lw-woo-gdpr-user-optins-field-hidden {
		display: none;
		visibility: hidden;
	}

}



@media only screen and (max-width: 782px) {

}


@media only screen and (max-width: 600px) {

}

